<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
</head>
<body> 
    <div class="profile-container">
        <div class="profile-header">
            <div class="small-text">Profile</div>
            <div class="username">{{ recommended_artist }}</div>
            <div class="connections">Connections: <span>[ ]</span></div>
            <div class="genre">Genre: <span>________</span></div>
        </div>
    </div>
    <div class="tracks-container">
        <h2 class="tracks-title">Tracks</h2>
        <ul class="tracks-list">
            <li>{{tracks[0]}}</li>
            <li>{{tracks[1]}}</li>
            <li>{{tracks[2]}}</li>
            <li>{{tracks[3]}}</li>
            <li>{{tracks[4]}}</li>

            <!-- Add more tracks as needed -->
        </ul>
    </div>
    <a href="{{ url_for('back_to_dashboard') }}" class="back-button">Back</a>
</body>
</html>
